/* SIDEBAR*/

.sidebar{
    padding-right: 20px;
    padding-top: 20px;
    height: 854px;
    overflow: hidden;
}

.nav-sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: rgba(204, 165, 115, 0.64);
}

.nav-sidebar a {
    display: block;
    color: #141614;
    padding: 20px;
    text-decoration: none;
}

.nav-sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

.nav-sidebar a:hover:not(.active) {
    background-color: rgba(118, 79, 46, 0.56);
    color: white;
}